.header {
  background-image: url('./images/bg-header-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-color: hsl(180, 29%, 50%);
  height: 160px;
}

.content {
  background-color: hsl(180, 52%, 96%);
  padding: 50px 0;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
